@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


.container {
    display: flex;
    width: 100%;
    height: 75vh;
    position: relative;
}
.map {
    width: 100%;
    width: 100%;
    height: 75vh;
}
.directionsConfirmButtonDiv {
    display: flex;
    justify-content:center;
    align-items: center; /* Optional, for vertical alignment */
    height: 60px;
    background-color: transparent;
    width: 100%;
}

.startLocationInput, .endLocationInput {  
    font-family: 'Roboto', sans-serif;
    width: 40%;
    padding: 10px;
    border-width: 3px;
    border-radius: 10px; /* Rounded borders */
    border-color: rgb(153, 238, 238);
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8); /* Subtle background */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition */
    font-weight:500;
}


.startLocationInput {
    margin-right: 2%;
}

.endLocationInput {
    margin-left: 2%;
}

.startLocationInput::placeholder, .endLocationInput::placeholder {
    color: #999; /* Placeholder text color */
    opacity: 1; /* Full opacity */
}

.startLocationInput:focus, .endLocationInput:focus {
    outline: none;
    border-color: #59b3a2; /* Highlight color */
    box-shadow: 0 0 8px rgba(89, 179, 162, 0.6); /* Focus state shadow */ 
    background-color: rgba(255, 255, 255, 1); /* Subtle background */
}


.directionsConfirmButton {
    width: 24;
    margin-top: 1%;
    height: 30px;
    margin-left:1%;
}

.directionsConfirmButton .icons {
    font-size: 58px;
}

.mainButtonExpress:hover{
    cursor:pointer;
    background-color: rgb(63, 57, 57);
    color:white;
    --tw-border-opacity: 1;
    border-color: rgb(163, 240, 236);
    border-width: 4px;
}

.mainButtonProfile:hover{
    cursor:pointer;
    background-color: rgb(63, 57, 57);
    color:white;
    --tw-border-opacity: 1;
    border-color: rgb(163, 240, 236);
    border-width: 4px;
}

.map-container{
    width: 100%;
    width: 100%;
    height: 75vh;
}

.container .map {
    position: relative;
}

.parentDirectionsConfirmButtonDiv{
    width: 98%;
    margin-left:1%;
    height: 100%;
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}
  
.map-inputs {
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 5; /* Ensures the inputs are above the map */
    width: 98%;
    height: 5%;
}
  
.map-inputs input {
    margin-bottom: 5px;
    /* Add additional styling as needed */
}
.map-inputs button {
    margin-bottom: 5px;
    /* Add additional styling as needed */
}






/* Style the container of the dropdown items */
.pac-container {
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    background-color: #fff; /* Or any other color */
    font-family: 'Roboto', sans-serif; /* Custom font */
  }
  
  /* Style each item in the dropdown */
  .pac-item {
    padding: 10px;
    cursor: pointer;
    text-align: left;
  }
  
  /* Style the query portion of each item */
  .pac-item-query {
    font-weight: bold;
  }
  
  /* Style the matched portion in the dropdown items */
  .pac-matched {
    color: #55aaff;
  }
  .pac-item:hover {
    background-color: #efefef; /* Or any other highlight color */
  }
  .pac-container {
    border-radius: 8px !important;
    /* other styles */
  }
  .pac-item {
    transition: background-color 0.2s ease-in-out;
    /* other styles */
  }
  .progress-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-circle {
    width: 100%;
    height: 100%;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    stroke: #4caf50; /* or your desired color */
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }

  .progressCircle {
    width: 18%;
    margin-left: 1%;
    margin-right:1%;
    margin-top: 4.5%;
    height:180%;
  }

  .confirmPictureButton{
    margin-left:2%;
    padding-left:2%;
    padding-right:2%;
    width: 10%;
    margin-top:4%;
    height:180%;
    border-radius: 50%;
    cursor: pointer;
  }
    .confirmPictureButton.low {
        background: #c98484; /* Track background */
    }
    .confirmPictureButton.medium {
        background: rgb(199, 182, 33); /* Track background */
    }
    .confirmPictureButton.high {
        background: green; /* Track background */
    }
    .questionsStartButton {
        width: 100%;
        font-size: 30px;
        padding-bottom: 2%;
        padding-top: 2%;
        height: 100%;
    }

  

/* Custom styles for the slider */
.questionsSlider {
    -webkit-appearance: none; /* Override default appearance */
    appearance: none;
    width: calc(100% - 2rem); /* Full width minus margin */
    max-height: 4px; /* Slider thickness */
    background: #c98484; /* Track background */
    outline: none; /* Remove outline */
    opacity: 0.5;
    transition: opacity 0.2s; /* Smooth transition for hover effect */
    border-radius: 5px; /* Rounded corners */
    margin: 0 1rem; /* Horizontal margin */
}

.questionsSlider.low {
    background: #c98484; /* Track background */
}
.questionsSlider.medium {
    background: rgb(199, 182, 33); /* Track background */
}
.questionsSlider.high {
    background: green; /* Track background */
}
/* Hover effect for the slider */
.questionsSlider:hover {
    opacity: 1; /* Full opacity on hover */
}

/* Styles for the thumb (slider handle) */
.questionsSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default appearance */
    appearance: none;
    width: 12px; /* Thumb width */
    height: 12px; /* Thumb height */
    background: #4CAF50; /* Thumb color */
    opacity: 1;
    cursor: pointer; /* Cursor changes to pointer */
    border-radius: 50%; /* Circular thumb */
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

.questionsSlider::-moz-range-thumb {
    width: 20px; /* Thumb width */
    height: 20px; /* Thumb height */
    background: #4CAF50; /* Thumb color */
    cursor: pointer; /* Cursor changes to pointer */
    border-radius: 50%; /* Circular thumb */
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

/* Style for the active state of the thumb */
.questionsSlider:active::-webkit-slider-thumb {
    background: #367c39; /* Darker color for active state */
}

.questionsSlider:active::-moz-range-thumb {
    background: #367c39; /* Darker color for active state */
}

.slider-container {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


  @media (max-width: 480px) {
  .progressCircle {
    width: 30%;
    margin-left: 1%;
    margin-right:1%;
    margin-top: 22%;
    height: 120%;
  }
  .questionsStartButton {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-top: 4%;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    justify-self: center;
  }
  .confirmPictureButton{
    margin-left:2%;
    padding-left:3%;
    border-radius: 50%;
    padding-right:3%;
    width: 20%;
    margin-top:20%;
    height:100%;
    opacity: 1;
    cursor: pointer;
  }
    .confirmPictureButton.low {
        background: #c98484; /* Track background */
    }
    .confirmPictureButton.medium {
        background: rgb(199, 182, 33); /* Track background */
    }
    .confirmPictureButton.high {
        background: green; /* Track background */
    }
}

