@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


.container {
    display: flex;
    width: 100%;
    height: 75vh;
    position: relative;
}
.map {
    width: 100%;
    width: 100%;
    height: 75vh;
}
.directionsConfirmButtonDiv {
    display: flex;
    justify-content:center;
    align-items: center; /* Optional, for vertical alignment */
    height: 60px;
    background-color: transparent;
    width: 100%;
}

.startLocationInput, .endLocationInput {  
    font-family: 'Roboto', sans-serif;
    width: 40%;
    padding: 10px;
    border-width: 3px;
    border-radius: 10px; /* Rounded borders */
    border-color: rgb(153, 238, 238);
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8); /* Subtle background */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition */
    font-weight:500;
}


.startLocationInput {
    margin-right: 2%;
}

.endLocationInput {
    margin-left: 2%;
}

.startLocationInput::placeholder, .endLocationInput::placeholder {
    color: #999; /* Placeholder text color */
    opacity: 1; /* Full opacity */
}

.startLocationInput:focus, .endLocationInput:focus {
    outline: none;
    border-color: #59b3a2; /* Highlight color */
    box-shadow: 0 0 8px rgba(89, 179, 162, 0.6); /* Focus state shadow */ 
    background-color: rgba(255, 255, 255, 1); /* Subtle background */
}


.directionsConfirmButton {
    width: 24;
    margin-top: 1%;
    height: 30px;
    margin-left:1%;
}

.directionsConfirmButton .icons {
    font-size: 58px;
}

.mainButtonExpress:hover{
    cursor:pointer;
    background-color: rgb(63, 57, 57);
    color:white;
    --tw-border-opacity: 1;
    border-color: rgb(163, 240, 236);
    border-width: 4px;
}

.mainButtonProfile:hover{
    cursor:pointer;
    background-color: rgb(63, 57, 57);
    color:white;
    --tw-border-opacity: 1;
    border-color: rgb(163, 240, 236);
    border-width: 4px;
}

.map-container{
    width: 100%;
    width: 100%;
    height: 75vh;
}

.container .map {
    position: relative;
}

.parentDirectionsConfirmButtonDiv{
    width: 98%;
    margin-left:1%;
    height: 100%;
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}
  
.map-inputs {
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 5; /* Ensures the inputs are above the map */
    width: 98%;
    height: 5%;
}
  
.map-inputs input {
    margin-bottom: 5px;
    /* Add additional styling as needed */
}
.map-inputs button {
    margin-bottom: 5px;
    /* Add additional styling as needed */
}






/* Style the container of the dropdown items */
.pac-container {
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    background-color: #fff; /* Or any other color */
    font-family: 'Roboto', sans-serif; /* Custom font */
  }
  
  /* Style each item in the dropdown */
  .pac-item {
    padding: 10px;
    cursor: pointer;
    text-align: left;
  }
  
  /* Style the query portion of each item */
  .pac-item-query {
    font-weight: bold;
  }
  
  /* Style the matched portion in the dropdown items */
  .pac-matched {
    color: #55aaff;
  }
  .pac-item:hover {
    background-color: #efefef; /* Or any other highlight color */
  }
  .pac-container {
    border-radius: 8px !important;
    /* other styles */
  }
  .pac-item {
    transition: background-color 0.2s ease-in-out;
    /* other styles */
  }
  